/src/Mastermind/Mastermind.Core/bin/Debug/netcoreapp3.1/
/src/Mastermind/Mastermind.Core/obj/
/src/Mastermind/Mastermind.Core.UnitTests/bin/Debug/netcoreapp3.1/
/src/Mastermind/Mastermind.Core.UnitTests/obj/
